adafruit-circuitpython-busdevice==5.2.12
adafruit-circuitpython-connectionmanager==3.1.4
adafruit-circuitpython-ina219==3.4.27
adafruit-circuitpython-register==1.10.3
adafruit-circuitpython-requests==4.1.10
adafruit-circuitpython-typing==1.11.2
evdev==1.9.2
psutil==7.0.0
python-mpd2==3.1.1
